[submodule "fed-challenge/coursework/2101-PixelArtMaker"]
	path = fed-challenge/coursework/2101-PixelArtMaker
	url = git@github.com:asiahoe/pixel-art-maker
[submodule "fed-nanodegree/coursework/1-web-foundations/Project1-Portfolio"]
	path = fed-nanodegree/coursework/1-web-foundations/Project1-Portfolio
	url = git@github.com:asiahoe/udacity-portfolio.git
